/* RESET + FONTE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #dcdcdc;
}



header {
  background-color: #0b3d1f;
  padding: 15px 80px;
}

header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

header h2 {
  color: white;
  font-weight: 600;
}

nav {
  display: flex;
  gap: 50px;
  align-items: center;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

/* Botão de login */
.login {
  background-color: #ffffff;
  color: black;
  padding: 6px 40px;
  border-radius: 20px;
}

main {
  display: flex;
  justify-content: center;
  padding: 60px 20px;
}

/* CARD */
section {
  background-color: #ffffff;
  border-radius: 15px;
  width: 800px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  overflow: hidden;
}

section > h1 {
  color: #0b3d1f;
  margin-bottom: 20px;
  font-weight: 600;
}

section > h3 {
  margin-bottom: 20px;
  font-weight: 500;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: left;
}

input {
  padding: 12px;
  border-radius: 20px;
  border: none;
  background-color: #F6F6F6;
}

button {
  margin-top: 15px;
  padding: 12px;
  border-radius: 20px;
  border: none;
  background-color: #0b3d1f;
  color: white;
  cursor: pointer;
  font-weight: 500;
}

/* Texto de cadastro */

section > h1 {
  font-weight: 1000;
}

section > p {
  margin-top: 15px;
  font-size: 14px;
}

section > h2 {
  font-weight: 600;
}

footer {
  background-color: #0b3d1f;
  color: white;
  text-align: center;
  padding: 40px 20px;
}

footer > nav {
  display: flex;
  justify-content: center; /* CENTRALIZA */
  align-items: center;
  gap: 20px;
  width: 100%;
}

footer > nav a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
}

footer > h2 {
  margin: 10px 0;
  font-weight: 600;
}

footer > p {
  font-size: 12px;
  margin-top: 10px;
}


/*Pagina sobre e contato*/

.topo-verde {
  background-color: #0b3d1f;
  color: white;
  text-align: center;
  padding: 40px 20px;
  border-radius: 10px;
}

.topo-verde h1 {
  font-size: 36px;
  margin-bottom: 10px;
  font-weight: 600;
}

.topo-verde p {
  font-size: 16px;
  opacity: 0.9;
}

/* CONTEÚDO */
.conteudo {
  padding: 30px;
  text-align: left;
  max-width: 700px; /* largura ideal de leitura */
  margin: 0 auto;
}

/* PARÁGRAFOS */
.conteudo p {
  font-size: 16px;
  line-height: 1.7; /* espaçamento entre linhas */
  color: #333;
  margin-bottom: 18px;
  text-align: justify; /* opcional: deixa alinhado dos dois lados */
}
