<footer class="main-footer">
    <nav class="footer-nav">
        <a href="index.html" data-link>Home</a>
        <a href="locais.html" data-link>Locais</a>
        <a href="roteiros.html" data-link>Roteiros</a>
        <a href="sobre.html" data-link>Sobre</a>
        <a href="contato.html" data-link>Contato</a>
    </nav>

    <div class="footer-brand">
        <h1>GoTurismo</h1>
    </div>

    <div class="footer-social">
        <a href="#">Facebook</a>
        <a href="#">Instagram</a>
        <a href="mailto:contato@goturismo.com">Email</a>
    </div>

    <div class="footer-info">
        <p>GoTurismo S/A - Todos os direitos reservados.</p>
    </div>
</footer>