<footer class="main-footer">
    <nav class="footer-nav">
        <a href="index.html" data-link>Home</a>
        <a href="pages/locais.html" data-link>Locais</a>
        <a href="pages/roteiros.html" data-link>Roteiros</a>
        <a href="pages/sobre.html" data-link>Sobre</a>
        <a href="pages/contato.html" data-link>Contato</a>
    </nav>

    <div class="footer-brand">
        <h1>GoTurismo</h1>
    </div>

    <div class="footer-social">
        <a href="#"><i class="fab fa-facebook"></i> Facebook</a>
        <a href="#"><i class="fab fa-instagram"></i> Instagram</a>
        <a href="mailto:contato@goturismo.com"><i class="fas fa-envelope"></i> Email</a>
    </div>

    <div class="footer-info">
        <p>GoTurismo S/A - CNPJ: 00.000.000/1000-00 - Endereço: Rua Fulano de Tal, 55555, Assu/RN - &reg; GoTurismo – Todos os direitos reservados.</p>
    </div>
</footer>