<header>
    <div class="header-container">
        <a href="home.html" data-link class="logo-header">GoTurismos</a>

        <nav class="nav-centralizada">
            <div class="header-nav" id="menu-nav">
                <a href="home.html" data-link>Home</a>
                <a href="locais.html" data-link>Locais</a>
                <a href="roteiros.html" data-link>Roteiros</a>
                <a href="sobre.html" data-link>Sobre</a>
                <a href="contato.html" data-link>Contato</a>
            </div>
        </nav>

        <div id="auth-area" class="auth-area"></div>
    </div>
</header>